.packages-container {
    margin: 4% auto;
}

.packages-container h5,
.services-container h5,
.about-container h5,
.reviews-container h5 {
    color: #88B337;
}

.packages-container h2,
.services-container h2,
.about-container h2,
.reviews-container h2 {
    color: #262339;
    text-align: center;
    font-weight: 600;
    font-size: 2.3rem;
    text-shadow: 0 0 1px;
}