.service-card {
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 1px;
    padding: 10px;
    transition: all 0.5s;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 70px;
    display: block;
    margin: auto;
}

.service-card p {
    font-size: 15px;
}