.page-content {
    width: calc(100% - 18rem);
    margin-left: 18rem;
}

.page-title {
    background-color: white;
    padding: 15px 6%;
}

.page-title h4 {
    margin-top: 2px;
    text-shadow: 0 0 0px;
}