.form-container {
    max-width: 350px;
    margin: auto;
    border: 2px solid;
    padding: 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid #88B337;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.form-container .btn {
    background-color: #88B337 !important;
    border: none !important;
    font-weight: 500;
    margin-top: 15px;
    width: 100%;
    padding: 8px 0px;
    color: white;
    transition: all 0.3s;
}

.login-area .form-group {
    margin-top: 10px !important;
}

.login-area input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #88B337 !important;
}

.form-container p {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    text-align: center;
}

.form-text,
#loginError {
    color: red !important;
    text-align: center !important;
}

#emailHelp,
#passHelp,
#cpassHelp {
    display: none;
}


.form-check {
    margin-top: 10px !important;
}

.login-area h4 {
    text-align: center;
}

.auth-media button {
    background-color: transparent;
    color: black;
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    width: 31%;
    border: 1px solid #88B337;
    border-radius: 35px;
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    font-weight: 500;
}


#registerForm {
    display: none;
}

.form-container label {
    margin-bottom: 5px !important;
}

.login-area hr {
    color:  #88B337 !important;
    opacity: 1 !important;
    width: 31% !important;
    margin: 25px auto 0px auto !important;
}

#or {
    margin-top: -17px;
    background: #F4F5F7;
    width: 32px;
    margin: -17px auto auto auto;
}

@media only screen and (max-width: 768px) {
    #registerForm p {
        width: 80% !important;
    }
}